apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    rule_files:
      - /etc/prometheus/alert_rules.yml

    scrape_configs:
      # MS-Customer service scraping
      - job_name: 'ms-customer'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - customer-service
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: ms-customer
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: kubernetes_pod_name

      # MongoDB Exporter scraping
      - job_name: 'mongodb'
        static_configs:
          - targets: ['mongodb-exporter.monitoring.svc.cluster.local:9216']
        relabel_configs:
          - source_labels: [__address__]
            regex: '(.+):9216'
            replacement: '${1}:9216'
            target_label: __address__
          - target_label: service
            replacement: mongodb
